.post-card {
  display: flex;
  flex-wrap: wrap; /* Allow text to wrap around image on small screens */
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.1);
  width: 100%;
  height: fit-content;
  border: 2px solid darkblue;
}
.post-image {
  flex: 0 0 50%; /* Set image width to 30% */
  display: flex; /* Allow vertical centering */
  justify-content: center; /* Horizontally center image */
  align-items: center; /* Vertically center image */
  border-bottom: 2px solid darkblue;
}
.post-image img {
  width: 100%;
  height: auto;
}
.post-content {
  flex: 1 1 50%; /* Set content area to 70% */
  padding: 30px 30px 15px 30px;
  text-align: left;
}

.post-header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}
.avatar {
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info {
  flex: 1;
}

.post-info h3 {
  margin-bottom: 5px;   
}
.post{
    margin: 5px 0;
}
.avatarContent{
    color: grey;
    font-style: italic;
}
.date{
    color: grey;
    font-style: italic;
}
.top{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.horizontal{
  flex-wrap: wrap;
  text-align: left;
  margin: 5px 0;
  font-size: 10px;
}

.read-more-link{
  /* background-color: darkblue; */
  color: darkblue;
  text-decoration: none;
  /* padding: 10px; */
  margin: 10px auto 0 auto;
  width: fit-content;
  border-radius: 10px;
}
.post-body{
  display: flex;
  flex-direction: column;
}
.post.title{
  margin: 0;
}

  .post-card {
    flex-direction: column; /* Stack content on top of image for small screens */
  }

  .post-image {
    order: -1; /* Move image above the content on small screens */
    width: 100%;
    margin: auto;
  }
  .title{
    margin: auto;
  }
  .post-content {
    text-align: center; /* Center-align text in mobile view */
  }
  .horizontal{
    justify-content: center;
  }

